*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
}
.App{
  margin-top: 50px;
  height: 500px;
  width: 800px;
  display: grid;
  grid-template: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%/ 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% ;
  border: 2px solid black;

}
.white{
  background-color: white;
  height: 100%;
  width: 100%;
  border: 1px solid grey;
}
.black{
  background-color: black;
  height: 100%;
  width: 100%;
  border: 1px solid grey;
}
.black > img , .white > img {
  height: 100%;
  width: 100%;
}