*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
}
.App{
  margin-top: 50px;
  height: 500px;
  width: 800px;
  display: grid;
  grid-template: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%/ 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% ;
  border: 2px solid black;

}
.white{
  background-color:  #7fa650;
  height: 100%;
  width: 100%;
}
#container{
  height: 100%;
  width: 100%;
  position: relative;
  
}
.black{
  background-color: rgba(255,255,0,.2);
}

#container > img {
  height: 100%;
  width: 100%;
}
.spandiv{
  position: absolute;
  top: 0;
  left: 0;
}

.route{
  /* background-color: rgb(84, 180, 53); */
  background-color: purple;

  border: 1px solid black;
  
}
.opponent{
background-color: red;
box-shadow: rgb(161, 90, 90);
}